* {
  margin: 0;
  padding: 0;
}

.Quiz-Area {
  flex: justify-center;
  width: 60%;
  height: 500px;
  margin: 100px 20% 0 20%;
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  box-shadow: 0 0 10px 2px rgba(100,100,100,0.1);
  overflow: auto;
}

.Quiz-Header {
  width: 94%;
  height: 76%;
  margin: 2% 3%;
}
.slide {
  display: none;
}
.Quiz-Header h1 {
  font-size: 30px;
  color: #3d3d3d;
  text-align: center;
}
h2 {
  margin: 0;
  padding: 1rem;
  color: #3d3d3d;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  height: 20%;
  margin: 2% 8%;

}

ul li label {
  cursor: pointer;
  color: #3d3d3d;
}
.Quiz-Bottom {
  display: flex;
  width: 94%;
  height: 14%;
  margin: 0 3%;
  border: 2px solid blue;

}
.Quiz-Bottom .bottom-button {
  width: 40%;
  height: 100%;
  margin: 0 5%;
  background-color: #80d9ff;
  cursor: pointer;
  transition: all 0.2s ease-out;
  border-radius: 10px;

}
.Quiz-Area .submit-button {
  width: 84%;
  height: 10%;
  margin: 2% 8%;
  border: 2px solid black;
  background-color: #dedede;
  cursor: pointer;
  transition: all 0.2s ease-out;
  border-radius: 10px;
}
.submit-button:hover {
  background-color: #424242;
  color: #fff;
}

.bottom-button:hover {
  background-color: #6cc8f0;
  color: #000;
}
.Question-Area {
  width: 90%;
  height: 50%;
  border-bottom: 2px solid #3d3d3d;
  margin: 0 5%;
}
.Answer-Area {
  display: flex;
  width: 90%;
  height: 20%;
  margin: 0 5%;
  border: 2px solid red;
}
.Half-Answer-Area {

  width: 50%;
  height: 100%;
  margin: 0;
}
